{% extends 'layout.html' %}

{% block body %}

{% if session['c_type']=='buyer' %}
<center><p>Here are the list of products you can buy...</p></center>
{% else %}
<center><p>Here are the list of products you have added</p></center>
{% endif %}
{% for product in products %}
<ul>
		<li><b>Product Name</b>:{{ product['name'] }}</li>
		<li><b>Product Price</b>:{{ product['price'] }}</li>

		<li><b>Seller</b>:{{ product['seller'] }}</li>

		<li><b>Product Description</b>:{{ product['description'] }}</li>

</ul>
{% if session['c_type']=='seller' %}
<form action="/removeproducts" method="POST">
	<input type="hidden" name="name" value="{{product['name']}}">
	<input type="submit" value="remove product">
</form>
</br>
{% else %}
<form action="/cart" method="POST">
	<input type="hidden" name="name" value="{{product['name']}}">
	<input type="submit" value="add to cart">
</form>


{% endif %}
{% endfor %}
{% endblock body %}